<%= form_with(model: quest, local: true, url: quests_path(referrer_id: params[:referrer_id], referrer_type: params[:referrer_type])) do |form| %>
  <% if quest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quest.errors.count, "error") %> prohibited this quest from being saved:</h2>

      <ul>
      <% quest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, placeholder: 'Name', class: 'form-control' %><br/>
    <%= form.text_area :description, placeholder: 'Description', class: 'form-control' %><br/>
    <%= form.text_area :content, placeholder: 'Content', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Create', class: ['btn', 'btn-success', 'text-light'] %>
  </div>
<% end %>
