<% content_for :left_column do %>
    <div class="card page-main quest-main card-motif-indigo">
      <div class="card-header">Quest
        <div class="card-actions">
          <%= link_to edit_quest_path(@quest) do %>
            <i class="material-icons">edit</i>
          <% end %>
          <a data-toggle="modal" data-target="#linkModal"><i class="material-icons">insert_link</i></a>
          <a data-toggle="modal" data-target="#referredNewModal"><i class="material-icons">add</i></a>
        </div>
      </div>
      <div class="card-body">
        <h3 class="card-title"><%= @quest.name %></h3>
        <%= markdown @quest.description %>
      </div>
    </div>
    <%= render 'shared/related_left', referrer_id: @quest.id, referrer_type: 'Quest', campaigns: @campaigns %>
    <%= render 'links/form', link: @link, origin_id: @quest.id, origin_type: 'Quest' %>
    <%= render 'shared/referred_new_modal', referrer_id: @quest.id, referrer_type: 'Quest' %>   
<% end %>

<% content_for :center_column do %>
  <div class="card">
    <div class="card-header">Notes</div>
    <div class="card-body">
      <%= markdown @quest.content %>
      
      <% unless @notes.empty? %>
        <hr>
        <div class="notes-container">
          <%= render 'shared/list', card_type: 'full', objects: @notes, referrer_id: @quest.id, referrer_type: 'Quest' %>      
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :right_column do %>
  <%= render 'shared/related_right', referrer_id: @quest.id, referrer_type: 'Quest', locations: @locations, quests: @quests %>
<% end %>
