<% content_for :left_column do %>
    <div class="card page-main quest-main border-indigo">
      <div class="card-header">Quest
        <div class="card-actions">
          <%= link_to edit_quest_path(@quest) do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to new_link_path(origin_id: @quest.id, origin_type: 'Quest') do %>
            <i class="material-icons">insert_link</i>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <h3 class="card-title text-indigo"><%= @quest.name %></h3>
        <%= markdown @quest.description %>
      </div>
    </div>
    <%= render 'shared/related_left', renderer_id: @quest.id, renderer_type: 'Quest', campaigns: @campaigns %>
<% end %>

<% content_for :center_column do %>
  <div class="card">
    <div class="card-header">Notes</div>
    <div class="card-body">
      <%= markdown @quest.content %>
      
      <% unless @notes.empty? %>
        <hr>
        <div class="notes-container">
          <%= render 'shared/list', objects: @notes, renderer_id: @quest.id, renderer_type: 'Quest' %>      
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :right_column do %>
  <%= render 'shared/related_right', renderer_id: @quest.id, renderer_type: 'Quest', locations: @locations, quests: @quests %>
<% end %>
