<div class="row page-layout">
    <section class="left-col col-md-3 ml-auto">
        <div class="card logo-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <%= render 'shared/logo' %>
                    </div>
                    <div class="col-md-8">
                        <div class="row greeter">
                            <div class="col">
                                <div class="greeting">Welcome <%= current_user.username %>!</div>
                                <hr>
                                <div>Last login was <%= time_ago_in_words current_user.last_sign_in_at %> ago.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card stats-card">
            <div class="card-body">
                <div class="stat-pair">
                    <div class="stat-bubble bg-blue">Campaigns</div>
                    <div class="stat-bubble bg-blue"><%= current_user.campaigns.count %></div>
                </div>
                <div class="stat-pair">
                    <div class="stat-bubble bg-green">Locations</div>
                    <div class="stat-bubble bg-green"><%= current_user.locations.count %></div>
                </div>
                <div class="stat-pair">                    
                    <div class="stat-bubble bg-indigo">Quests</div>
                    <div class="stat-bubble bg-indigo"><%= current_user.quests.count %></div>
                </div>
                <div class="stat-pair">                    
                    <div class="stat-bubble bg-gray">Notes</div>
                    <div class="stat-bubble bg-gray"><%= current_user.notes.count %></div>
                </div>
                <div class="stat-pair">                    
                    <div class="stat-bubble bg-gray">Links</div>
                    <div class="stat-bubble bg-gray"><%= current_user.links.count %></div>
                </div>
            </div>
        </div>
    </section>

    <section class="center-col col-md-9">
        <div class="home-cards card-columns">
            <section>
                <%= render 'campaigns/card', objects: current_user.campaigns.order(updated_at: :desc).last(5) %>
                <%= render 'locations/card', objects: current_user.locations.order(updated_at: :desc).last(5) %>
                <%= render 'quests/card',    objects: current_user.quests.order(updated_at: :desc).last(5) %>
                <%= render 'notes/card',     objects: current_user.notes.order(updated_at: :desc).last(5) %>
            </section>
        </div>
    </section>
</div>
