<%= form_with(model: note, local: true, url: notes_path(referrer_id: params[:referrer_id], referrer_type: params[:referrer_type])) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_area :content, placeholder: 'Content', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Create', class: ['btn', 'btn-success', 'text-light'] %>
  </div>
<% end %>
