<%= form_with(model: note, local: true, url: workspace_category_notes_path(referrer_id: params[:referrer_id])) do |form| %>
  <%= render 'devise/shared/error_messages', resource: note %>

  <div class="form-group">
    <%= form.text_field :name, placeholder: 'Name', class: 'form-control', autocomplete: 'off' %><br/>
    <%= form.text_area :description, placeholder: 'Description', class: 'form-control' %><br/>
    <%= form.text_area :content, placeholder: 'Content', class: 'form-control' %>
  </div>

  <%= form.hidden_field :category_id, value: params[:category_id] %>

  <div class="form-group">
    <%= form.submit 'Create', class: ['btn', 'btn-success', 'text-light'] %>
  </div>
<% end %>
