<%= form_with(model: [@note.category.workspace, @note.category, @note], local: true) do |form| %>
    <div class="row page-layout page-layout-edit">
        <% if @note.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

                <ul>
                <% @note.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>

        <section class="left-col col-md-3 ml-auto">
            <div class="card bg-card note-main card-motif-<%= @note.category.color %>">
                <div class="card-header">
                    <div class="form-group" style="margin-bottom:0">
                        <%= form.select :category_id, options_from_collection_for_select(current_user.categories.order(name: :asc), :id, :name, selected: params[:category_id]), { }, { class: 'custom-select' } %>
                    </div>
                    <div class="flexbox-spacer"></div>
                    <div class="card-actions">
                        <%= link_to 'Back', [@note.category.workspace, @note.category, @note], class: 'back-link' %>
                        <%= form.submit 'Save', class: ['btn', 'btn-sm', 'save-btn', 'text-light'] %>
                        <%= link_to 'Delete', [@note.category.workspace, @note.category, @note], method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-red', 'btn-sm', 'delete-btn'] %>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <%= form.text_field :name, class: 'form-control' %><br/>
                        <%= form.text_area :description, oninput:'this.style.height = "";this.style.height = this.scrollHeight + "px"', class: 'form-control' %>                    
                    </div>
                </div>
            </div>
        </section>

        <section class="center-col col-md-7">
            <div class="card bg-card">
                <div class="card-header">Notes</div>
                <div class="card-body">
                    <div class="form-group">
                        <%= form.text_area :content, oninput:'this.style.height = "";this.style.height = this.scrollHeight + "px"', class: 'form-control' %>
                    </div>
                </div>
            </div>
        </section>

        <section class="right-col col-md-2 mr-auto">
            <%= render 'links_list', edit: true %>
        </section>
    </div>
<% end %>
