<%= form_with(model: [@note.category, @note], local: true) do |form| %>
    <div class="row page-layout page-layout-edit">
        <% if @note.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

                <ul>
                <% @note.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            </div>
        <% end %>

        <section class="left-col col-md-3 ml-auto">
            <div class="card bg-card note-main card-motif-<%= @note.category.color %>">
                <div class="card-header"><%= @note.category.name %>
                    <div class="card-actions">
                        <%= link_to 'Back', [@note.category, @note], class: 'back-link' %>
                        <%= form.submit 'Save', class: ['btn', 'btn-sm', 'save-btn', 'text-light'] %>
                        <%= link_to 'Delete', [@note.category, @note], method: :delete, data: { confirm: 'Are you sure?' }, class: ['btn', 'btn-red', 'btn-sm', 'delete-btn'] %>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <%= form.text_field :name, class: 'form-control' %><br/>
                        <%= form.text_area :description, oninput:'this.style.height = "";this.style.height = this.scrollHeight + "px"', class: 'form-control' %>                    
                    </div>
                </div>
            </div>
        </section>

        <section class="center-col col-md-6">
            <div class="card bg-card">
                <div class="card-header">Notes</div>
                <div class="card-body">
                    <div class="form-group">
                        <%= form.text_area :content, oninput:'this.style.height = "";this.style.height = this.scrollHeight + "px"', class: 'form-control' %>
                    </div>
                
                    <%# <% unless @notes.empty? %/>
                        <hr>
                        <div class="notes-container">
                            <%= render 'shared/list', card_type: 'full', notes: @notes, referrer_id: @note.id, referrer_type: 'Note', show_unlink: true %/>      
                        </div>
                    <% end %/> %>
                </div>
            </div>
        </section>

        <section class="right-col col-md-3 mr-auto">
        </section>
    </div>
<% end %>
