<%= form_with(model: @note, local: true) do |form| %>
    <div class="row page-layout page-layout-edit">
        <section class="left-col col-md-3 ml-auto">    
            <%= render 'shared/related_left', renderer_id: @note.id, renderer_type: 'Note', campaigns: @campaigns %>
        </section>

        <section class="center-col col-md-6">
            <div class="card">
                <div class="card-header">Note
                <div class="card-actions">
                    <%= link_to 'Cancel', @note %>
                    <%= form.submit 'Save', class: ['btn', 'btn-blue', 'btn-sm', 'text-light'] %>
                </div>
                <div class="card-body">
                <%= form.text_area :content, class: 'form-control' %>
                
                <% unless @notes.empty? %>
                    <hr>
                    <div class="notes-container">
                    <%= render 'shared/list', card_type: 'full', objects: @notes, renderer_id: @note.id, renderer_type: 'Note' %>      
                    </div>
                <% end %>
                </div>
            </div>
        </section>

        <section class="right-col col-md-3 mr-auto">
            <%= render 'shared/related_right', renderer_id: @note.id, renderer_type: 'Note', locations: @locations, quests: @quests %>
        </section>
    </div>
<% end %>
