<% content_for :left_column do %>
  <%= render 'shared/related_left', referrer_id: @note.id, referrer_type: 'Note', campaigns: @campaigns, show_unlink: false %>
<% end %>

<% content_for :center_column do %>
  <div class="card note-main">
    <div class="card-header">Note
      <div class="card-actions">
          <%= link_to edit_note_path(@note) do %>
            <i class="material-icons">edit</i>
          <% end %>
          <a data-toggle="modal" data-target="#linkModal"><i class="material-icons">insert_link</i></a>
          <a data-toggle="modal" data-target="#referredNewModal"><i class="material-icons">add</i></a>
        </div>
    </div>
    <div class="card-body">
      <%= markdown @note.content %>
      
      <% unless @notes.empty? %>
        <hr>
        <div class="notes-container">
          <%= render 'shared/list', card_type: 'full', objects: @notes, referrer_id: @note.id, referrer_type: 'Note', show_unlink: false %>      
        </div>
      <% end %>
    </div>
  </div>
  <%= render 'links/modal_form', link: @link, origin_id: @note.id, origin_type: 'Note' %>
  <%= render 'shared/referred_new_modal', referrer_id: @note.id, referrer_type: 'Note' %>   
<% end %>

<% content_for :right_column do %>
  <%= render 'shared/related_right', referrer_id: @note.id, referrer_type: 'Note', locations: @locations, quests: @quests, show_unlink: false %>
<% end %>
