<% content_for :left_column do %>
  <%= render 'shared/related_left', renderer_id: @note.id, renderer_type: 'Note', campaigns: @campaigns %>
<% end %>

<% content_for :center_column do %>
  <div class="card">
    <div class="card-header">Note
      <div class="card-actions">
          <%= link_to edit_note_path(@note) do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to new_link_path(origin_id: @note.id, origin_type: 'Note') do %>
            <i class="material-icons">insert_link</i>
          <% end %>
        </div>
    </div>
    <div class="card-body">
      <%= markdown @note.content %>
      
      <% unless @notes.empty? %>
        <hr>
        <div class="notes-container">
          <%= render 'shared/list', card_type: 'full', objects: @notes, renderer_id: @note.id, renderer_type: 'Note' %>      
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :right_column do %>
  <%= render 'shared/related_right', renderer_id: @note.id, renderer_type: 'Note', locations: @locations, quests: @quests %>
<% end %>
