<% content_for :left_column do %>
    <% unless @campaigns.empty? %>
      <div class="card border-secondary">
        <div class="card-header">Related</div>
        <div class="card-body">
          <%= render 'campaigns/list', campaigns: @campaigns, id: @note.id, type: 'Note' %>
        </div>
      </div>
    <% end %>
<% end %>

<% content_for :center_column do %>
  <div class="card">
    <div class="card-body">
      <%= markdown @note.content %>
      
      <% unless @notes.empty? %>
        <hr>
        <div class="notes-container">
          <%= render 'notes/list', notes: @notes, id: @note.id, type: 'Note' %>      
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :right_column do %>
  <% unless @locations.empty? %>
    <div class="card border-green">
      <div class="card-header">Locations</div>
      <div class="card-body">
        <%= render 'locations/list', locations: @locations, id: @note.id, type: 'Note' %>
      </div>
    </div>
  <% end %>
  <% unless @quests.empty? %>
    <div class="card border-indigo">
      <div class="card-header">Quests</div>
      <div class="card-body">
        <%= render 'quests/list', quests: @quests, id: @note.id, type: 'Note' %>    
      </div>
    </div>
  <% end %>
<% end %>
