<p>
  <strong>Content:</strong>
  <%= @note.content %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %> |
<%= link_to 'Link', new_link_path(origin_id: @note.id, origin_type: 'Note') %>

<hr>
<%= render 'campaigns/list', campaigns: @note.related('campaigns'), id: @note.id, type: 'Note' %>
<hr>
<%= render 'locations/list', locations: @note.related('locations'), id: @note.id, type: 'Note' %>
<hr>
<%= render 'quests/list', quests: @note.related('quests'), id: @note.id, type: 'Note' %>
<hr>
<%= render 'notes/list', notes: @note.related('notes'), id: @note.id, type: 'Note' %>
<hr>
