
<div class="row text-light">
  <div class="col-md-12 login-container">
    <div class="login-form">
      <div class="logo">
        <%= render 'shared/logo'%>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render 'devise/shared/error_messages', resource: resource %>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email", class: 'form-control' %>
          <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "username", class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", placeholder: 'password', class: 'form-control', 'aria-describedby': 'password_len' %>
          <% if @minimum_password_length %>
          <small id="password_len"><%= @minimum_password_length %> characters minimum</small>
          <% end %>
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "confirm password", class: 'form-control' %>
        </div>

        <br/>
        <div class="form-group">
          <%= f.submit "Sign up", class: ['btn', 'btn-success', 'btn-block', 'text-light'] %>
        </div>
      <% end %>

      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
