<% if local_assigns.has_key?(:referrer_id) && local_assigns.has_key?(:referrer_type) %>
    <% link = Link.find_link(referrer_id, object.id).first %>
<% end %>

<div class="card <%= card_type %>-card <%= object.model_name.name.downcase %>-card card-motif-<%= object.category.color %>">
    <%= link_to [object.category, object], class: 'link-target' do %>
        <div class="card-body">
            <% if object.try :name %>
                <%= object.name.truncate(100, separator: ' ') %>
            <% elsif object.try :content %>
                <% if  card_type == 'full' %>
                    <%= markdown object.content %>
                <% else %>
                    <%= object.content.truncate(100, separator: ' ') %>
                <% end %>
            <% end %>
            <% if !show_unlink && link %>
                <div class="relation-tag">
                    <% if object.get_relationship(referrer_id) == 'linkable' %>
                        <% if link.linkable_tag != '' %>
                            <i><%= link.linkable_tag %></i>
                        <% end %>
                    <% else %>
                        <% if link.origin_tag != '' %>
                            <i><%= link.origin_tag %></i>
                        <% end %>
                    <% end %>
                </div>
            <% end %>
        </div>
    <% end %>
    <% if show_unlink && link %>
        <div class="link-actions">
            <%= link_to edit_link_path(link), class: 'link-edit' do %>
                <i class="material-icons">edit</i>
            <% end %>
            <%= link_to link, method: :delete, data: { confirm: 'Are you sure?' }, class: 'link-unlink' do %>
                <i class="material-icons">link_off</i>
            <% end %>
        </div>
    <% end %>
</div>
