<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :origin_id %>
    <%= form.text_field :origin_id %>
  </div>


  <div class="field">
    <%= form.label :origin_type %>
    <%= form.text_field :origin_type %>
  </div>

  <div class="field">
    <%= form.label :linkable_id %>
    <%= form.text_field :linkable_id %>
  </div>

  <div class="field">
    <%= form.label :linkable_type %>
    <%= form.text_field :linkable_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
