<%= form_with(model: @link, local: true) do |form| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-md-6">
      <%= form.label @link.origin.name.truncate(100, separator: ' '), for: :origin_tag, class: 'link_tag_label' %>
      <%= form.text_field :origin_tag, placeholder: 'Tag...', class: 'form-control', autocomplete: 'off' %>
    </div>
    <div class="col-md-6">
      <%= form.label @link.linkable.name.truncate(100, separator: ' '), for: :linkable_tag, class: 'link_tag_label' %>
      <%= form.text_field :linkable_tag, placeholder: 'Tag...', class: 'form-control', autocomplete: 'off' %>
    </div>
  </div>
  <div class="form-group">
    <%= form.submit 'Update', class: ['btn', 'btn-success', 'text-light'] %>
  </div>
<% end %>
