<%= form_with(model: @link, local: true, class: 'link-search-form') do |form| %>
  <% if @link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved:</h2>

       <ul>
      <% @link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :note_id %>
    <%= form.text_field :note_id %>
  </div>

   <div class="field">
    <%= form.label :linked_note_id %>
    <%= form.text_field :linked_note_id %>
  </div>

   <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
