<!-- big ol page, rip DRY im srry bb -->
<div class="row">
    <div class="col">
        <p class="text-primary">These are all the fields associated with your account apart from a token used for password resets and an encrypted version of your password.</p>
        <hr>
        <form>
            <fieldset disabled>
                <div class="form-group row">
                    <label for="detailsEmail" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                        <%= text_field_tag 'email', current_user.email, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="detailsUsername" class="col-sm-4 col-form-label">Username</label>
                    <div class="col-sm-8">
                        <%= text_field_tag 'username', current_user.username, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="detailsResetPasswordSentAt" class="col-sm-4 col-form-label">Reset Password Sent At</label>
                    <div class="col-sm-8">
                        <%= text_field_tag 'reset_password_sent_at', current_user.reset_password_sent_at, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="detailsRememberCreatedAt" class="col-sm-4 col-form-label">Remember Created At</label>
                    <div class="col-sm-8">
                        <%= text_field_tag 'reset_remember_created_at', current_user.remember_created_at, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="detailsSignInCount" class="col-sm-4 col-form-label">Sign In Count</label>
                    <div class="col-sm-8">
                        <%= text_field_tag 'sign_in_count', current_user.sign_in_count, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="detailsCurrentSignInAt" class="col-sm-4 col-form-label">Current Sign In At</label>
                    <div class="col-sm-8">
                        <%= text_field_tag 'current_sign_in_at', current_user.current_sign_in_at, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="detailsLastSignInAt" class="col-sm-4 col-form-label">Last Sign In At</label>
                    <div class="col-sm-8">
                        <%= text_field_tag 'last_sign_in_at', current_user.last_sign_in_at, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="detailsCurrentSignInIP" class="col-sm-4 col-form-label">Current Sign In IP</label>
                    <div class="col-sm-8">
                        <%= text_field_tag 'current_sign_in_ip', current_user.current_sign_in_ip, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="detailsLastSignInIP" class="col-sm-4 col-form-label">Last Sign In IP</label>
                    <div class="col-sm-8">
                        <%= text_field_tag 'last_sign_in_ip', current_user.last_sign_in_ip, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="detailsCreatedAt" class="col-sm-4 col-form-label">Created At</label>
                    <div class="col-sm-8">
                        <%= text_field_tag 'created_at', current_user.created_at, class: 'form-control' %>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="detailsUpdatedAt" class="col-sm-4 col-form-label">Updated At</label>
                    <div class="col-sm-8">
                        <%= text_field_tag 'updated_at', current_user.updated_at, class: 'form-control' %>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
