<%= form_with(model: campaign, local: true) do |form| %>
  <% if campaign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(campaign.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% campaign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:referrer_id] && params[:referrer_type] %>
    <%= form.hidden_field :referrer_id, value: params[:referrer_id] %>    
    <%= form.hidden_field :referrer_type, value: params[:referrer_type] %>    
  <% end %>

  <div class="form-group">
    <%= form.text_field :name, placeholder: 'Name', class: 'form-control' %><br/>
    <%= form.text_area :description, placeholder: 'Description', class: 'form-control' %><br/>
    <%= form.text_area :content, placeholder: 'Content', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.submit 'Create', class: ['btn', 'btn-success', 'text-light'] %>
  </div>
<% end %>
