<% content_for :left_column do %>
    <div class="card page-main campaign-main border-blue">
      <div class="card-header">Campaign
        <div class="card-actions">
          <%= link_to edit_campaign_path(@campaign) do %>
            <i class="material-icons">edit</i>
          <% end %>
          <%= link_to new_link_path(origin_id: @campaign.id, origin_type: 'Campaign') do %>
            <i class="material-icons">insert_link</i>
          <% end %>
        </div>
      </div>
      <div class="card-body">
        <h3 class="card-title text-blue"><%= @campaign.name %></h3>
        <%= markdown @campaign.description %>
      </div>
    </div>
    <% unless @campaigns.empty? %>
      <div class="card border-secondary">
        <div class="card-header">Related</div>
        <div class="card-body">
          <%= render 'campaigns/list', campaigns: @campaigns, id: @campaign.id, type: 'Campaign' %>
        </div>
      </div>
    <% end %>
<% end %>

<% content_for :center_column do %>
  <div class="card">
    <div class="card-header">Notes</div>
    <div class="card-body">
      <%= markdown @campaign.content %>
      
      <% unless @notes.empty? %>
        <hr>
        <div class="notes-container">
          <%= render 'notes/list', notes: @notes, id: @campaign.id, type: 'Campaign' %>      
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% content_for :right_column do %>
  <% unless @locations.empty? %>
    <div class="card border-green">
      <div class="card-header">Locations</div>
      <div class="card-body">
        <%= render 'locations/list', locations: @locations, id: @campaign.id, type: 'Campaign' %>
      </div>
    </div>
  <% end %>
  <% unless @quests.empty? %>
    <div class="card border-indigo">
      <div class="card-header">Quests</div>
      <div class="card-body">
        <%= render 'quests/list', quests: @quests, id: @campaign.id, type: 'Campaign' %>    
      </div>
    </div>
  <% end %>
<% end %>
