<div class="row page-layout">
  <section class="left-col col-md-3 ml-auto">
    <div class="card bg-card logo-card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <%= render 'shared/logo' %>
          </div>
          <div class="col-md-8">
            <div class="row greeter">
              <div class="col">
                <div class="greeting">Welcome <%= current_user.username %>!</div>
                <hr>
                <div>Last login was <%= time_ago_in_words current_user.last_sign_in_at %> ago.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card bg-card stats-card">
      <div class="card-body">
        <% if @categories.length > 0 %>
          <% @categories.each do |category| %>
            <div class="stat-pair">
              <div class="stat-bubble bg-<%= category.color %>"><%= category.name.pluralize %></div>
              <div class="stat-bubble bg-<%= category.color %>"><%= category.notes.count %></div>
            </div>
          <% end %>
        <% else %>
          You haven't created any categories yet!
        <% end %>
      </div>
    </div>
  </section>

  <section class="action-col">
    <%= render 'button_new' %>
  </section>

  <section class="main-col col-md">
    <div class="home-cards card-columns">
      <% @categories.each do |category| %>
        <%= render 'index_card', category: category, notes: category.notes.order(updated_at: :desc).first(5) %>
      <% end %>
    </div>
  </section>
</div>

<%= render 'new_modal', category: @category %>
