<section class="index col-md-8 mx-auto">
  <div class="card bg-card card-motif-<%= @category.color %>">
    <div class="card-header"><%= @category.name.pluralize %>
      <div class="flexbox-spacer"></div>
      <div class="card-actions">
        <%= link_to edit_workspace_category_path(@category.workspace, @category) do %>
          <i class="material-icons">edit</i>
        <% end %>
        <%= link_to [@category.workspace, @category], method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="material-icons">delete</i>
        <% end %>
        <div class='card-actions-divider'></div>
        <%= link_to new_workspace_category_note_path(@category.workspace, @category), class: 'new-link' do %>
            <i class="material-icons">add</i>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <%= search_form_for @q, url: workspace_category_path(@category.workspace, @category) do |form| %>
        <div class='form-group'>
          <%= form.search_field :name_or_description_or_content_cont, class: 'form-control', placeholder: 'Search' %>
        </div>
        <hr>
        <div class="row">
          <div class="col">
            <table class="table-borderless link-table note-table">
              <thead>
                <th><%= sort_link(@q, :name) %></th>
                <th><%= sort_link(@q, :created_at, 'Created') %></th>
                <th><%= sort_link(@q, :updated_at, 'Updated') %></th>
              </thead>
              <tbody>
                <% @notes.each do |note| %>
                  <tr>
                    <td class="name"><%= link_to [@category.workspace, @category, note] do %><%= note.name.truncate(105, separator: ' ') %><% end %></td>
                    <td class="created"><%= time_ago_in_words note.created_at %> ago</td>
                    <td class="updated"><%= time_ago_in_words note.updated_at %> ago</td>
                  </tr>
                <% end %>
              </thead>
            </table>    
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
