<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>dndnotes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body class="d-flex flex-column h-100">
    <%= render 'shared/alerts' %>
    <% if user_signed_in? %>
      <%= render 'shared/navbar' %>
    <% end %>
    
    <main role="main" class="flex-shrink-0">
      <div class="container-fluid text-light">  
        <%= yield %>
      </div>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>
